<!-- app/views/home/index.html.erb -->
<% if flash[:notice] %>
  <div>
    <%= flash[:notice] %>
  </div>
<% end %>

<h1>List of users</h1>

<table border="1">
  <thead>
    <tr>
      <th>Username</th>
      <th>Private?</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.private? ? "Yes" : "No" %></td>
        <td>
          <%= form_with url: insert_follow_request_path, method: :post do %>
            <%= hidden_field_tag :query_recipient_id, user.id %>
            <button>Follow</button>
          <% end %>
        </td>
        <td>
          <a href="<%= user_path(user) %>">Show details</a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
