<h1>List of Photos</h1>

<% if user_signed_in? %>
  <%= form_with(model: Photo.new, local: true, html: { multipart: true }) do |form| %>
    <%= form.label :image, 'Image' %>
    <%= form.file_field :image %>
    <%= form.label :caption, 'Caption' %>
    <%= form.text_field :caption %>
    <button type="submit" class="btn btn-info">Add Photo</button>
  <% end %>
<% end %>

<% if @photos.blank? %>
  <p>No photos to display.</p>
<% else %>
  <table border="1">
    <thead>
      <tr>
        <th>Image</th>
        <th>Owner</th>
        <th>Caption</th>
        <th>Posted</th>
        <th>Likes</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @photos.each do |photo| %>
        <tr>
          <td>
            <%= image_tag photo.image.url if photo.image? %>
          </td>
          <td><%= photo.owner&.username %></td>
          <td><%= photo.caption %></td>
          <td><%= time_ago_in_words(photo.created_at) %> ago</td>
          <td><%= photo.likes.count %></td>
          <td><%= link_to 'Show details', photo_path(photo), class: 'btn btn-secondary' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
