<!DOCTYPE html>
<html>
  <head>
    <title>Photogram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag "application", type: "module" %>
  </head>
  <body>
    <nav>
      <ul style="list-style-type: circle;">
        <!-- Always visible links -->
        <li><%= link_to 'All users', users_path %></li>
        <li><%= link_to 'All public photos', photos_path %></li>

        <% if user_signed_in? %>
          <!-- Links visible only when user is signed in -->
          <li><%= link_to current_user.username, edit_user_registration_path %></li>
          <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete, data: { turbo: false } %></li>
        <% else %>
          <!-- Links visible only when no user is signed in -->
          <li><%= link_to 'Sign in', new_user_session_path %></li>
          <li><%= link_to 'Sign up', new_user_registration_path %></li>
        <% end %>
      </ul>
    </nav>

    <!-- Flash messages -->
    <% flash.each do |key, message| %>
      <div class="alert alert-<%= key %>">
        <%= message %>
      </div>
    <% end %>

    <script>
      console.log("JavaScript is loaded and running!");
    </script>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
